/* Code */

@font-face {
    font-family: "Fira Code";
    font-weight: normal;
    font-style: normal;
    src: local('"Fira Code"'), url("fonts/firacode.otf") format("opentype");
}

div.input_area,
div.prompt,
.prompt,
div.output_subarea.output_text.output_stream.output_stdout,
div.output_subarea.output_text,
div.output_area pre,
div.output_html,
div.prompt.output_prompt,
div.out_prompt_overlay.prompt,
div.cell.text_cell.rendered .prompt,
div.cell.text_cell.unrendered .prompt,
div.rendered_html code,
.well code,
code,
div.rendered_html pre,
div.text_cell_render pre,
div.text_cell_render code,
.kse-input-group-pretty > kbd,
.kse-input-group-pretty > kbd,
input.raw_input,
.terminal-app .terminal,
.ipython_tooltip,
.ipython_tooltip .tooltiptext pre,
.cm-s-ipython.CodeMirror {
    font-family: "Fira Code", "DejaVu Sans Mono", "Ubuntu Mono", "DejaVu Sans Mono Book", "Courier New", Courier, monospace !important;
}


/* Serif */

@font-face {
    font-family: "Lora";
    font-weight: normal;
    font-style: normal;
    src: local('"Lora"'), url("fonts/Lora-Regular.ttf") format("truetype");
}

div.cell.text_cell.rendered,
div.cell.text_cell.unrendered,
div.cell.text_cell,
.edit_mode div.cell.text_cell,
div.text_cell.unrendered,
div.text_cell.unrendered.selected,
div.edit_mode div.text_cell,
.rendered_html td,
.rendered_html table,
.rendered_html thead
{
    font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "TeX Gyre Pagella", "Book Antiqua", "Lora", Georgia, serif !important;
}

body {
    -webkit-font-feature-settings: "liga" on, "hlig" on, "hist" on, "dlig" on, "zero" on, "calt" on, "swsh" on, "kern" on, "locl" on !important;
    -moz-font-feature-settings: "liga" on, "hlig" on, "hist" on, "dlig" on, "zero" on, "calt" on, "swsh" on, "kern" on, "locl" on !important;
    -ms-font-feature-settings: "liga" on, "hlig" on, "hist" on, "dlig" on, "zero" on, "calt" on, "swsh" on, "kern" on, "locl" on !important;
    font-feature-settings: "liga" on, "hlig" on, "hist" on, "dlig" on, "zero" on, "calt" on, "swsh" on, "kern" on, "locl" on !important;
}


/* Sans-serif */

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  src: local('"Lato"'), url("fonts/Lato-Regular.ttf") format("truetype");
}

div#notebook,
body,
div.body,
a,
div#notebook_toolbar div.dynamic-instructions,
ul#tabs a,
.nav-tabs,
div#notebook,
#header,
.edit_app #header,
.navbar-default,
.navbar-default .navbar-nav > li > a,
.dropdown-menu,
.dropdown-menu:hover,
.dropdown-menu > li > a,
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus,
.dropdown-header,
span#last-modified.btn.btn-xs.btn-default.sort-action,
span#sort-name.btn.btn-xs.btn-default.sort-action,
.modal-content,
.modal-header,
.modal-content h4,
div.panel,
div.panel-default,
.panel,
.panel-default,
div.form-control,
.form-control,
div.widget-area a,
.typeahead-field input,
.typeahead-container button,
.typeahead-dropdown,
.typeahead-list {
    font-family: "Ubuntu", "Roboto",  "Lato", sans-serif !important;
}